

.wrapper{
    position: relative;
    display: flexbox;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 250px;
    max-width: 80%;
    background: transparent;
}
.sale-div{
    display: flex;
    justify-content: right; 
    gap: 15px;
    margin-right: 120px;
    margin-top: 40px;
}
.container{    
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 250px;
    margin-top: 20px;
    background: transparent;
    gap: 15px; 
    flex-wrap: wrap;   
}
.protein{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 30px;
    color: var(--text-color);
    background: var(--sidebar-color);
    width: 200px;
    height: 100px;
    border-radius: 15px;
}
.prot{
    width: 50px;
    height: 70px;
}
.creatine{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--text-color);
    background: var(--sidebar-color);
    width: 200px;
    height: 100px;
    border-radius: 15px;
}
.vitamine{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--text-color);
    background: var(--sidebar-color);
    width: 200px;
    height: 100px;
    border-radius: 15px;
}
.gainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--text-color);
    background: var(--sidebar-color);
    width: 200px;
    height: 100px;
    border-radius: 15px;
}